.container .flex {
  display: flex;
  gap: 1rem;
}

.focus-area-header {
  background: linear-gradient(13deg, #eef8fb 0%, #6db7d8 100%);
}

.header-organization-banner .ca-gov-icon-project {
  font-size: 67px;
  color: #ffaf00;
}

.hero-banner {
  background-image: linear-gradient(180deg, #01395e 20.31%, #046b99 66.15%);
}

.hero-banner .container {
  min-height: 180px;
  display: flex;
  align-items: center;
}

.primary-card {
  background: var(--v-6-gray-50, #fafafa);
  border: 1px solid var(--v-6-gray-100, #ededef);
  border-radius: 0.3125rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

@media (min-width: 992px) {
  .hero-banner {
    background-image: url("/images/lightrail.png"),
      linear-gradient(180deg, #01395e 20.31%, #046b99 66.15%);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .hero-banner .container {
    min-height: 329px;
  }
}

.hero-banner h1 {
  width: 547px;
}

.bottom-section h2 {
  border-width: 0 0 1px 0;
  border-color: #046b99;
  border-style: solid;
  padding-bottom: 0.5em;
}

.bottom-section li {
  margin-bottom: 1em;
}
