<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- in case the mime type already exist in IIS -->
      <clientCache cacheControlCustom="public, max-age=8640000, immutable" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Redirect Index Files at any level to path" stopProcessing="true">
          <match url="(^|.*/)(index\.[^/]+)$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS">
          <!-- Preload HSTS here ... https://hstspreload.org/ -->
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>

        <rule name="Remove Cache-Control for HTML">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.html$" />
          </conditions>
          <action type="Rewrite" value="public, max-age=1800" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
