<div class="bottom-section p-b-sm" style="background: var(--v-6-gray-100, #ededef)">
  <div class="container row">
    <div class="col-md-6">
      <h2 class="h4">Sobre Marco de Identidad Digital</h2>
      <ul class="list-unstyled">
        <li>
          <a class="no-underline color-black" href="https://cdt.ca.gov/digitalID/">Proyecto de Identidad Digital</a>
        </li>
        <div>
          <a href="https://cdt.ca.gov/" hreflang="en" class="no-underline color-black">Departamento de Tecnología de California</a>
        </div>
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="h4">Planes estratégicos estatales</h2>
      <ul class="list-unstyled">
        <li>
          <a class="no-underline color-black" href="https://digitalstrategy.cdt.ca.gov/index.html">Estrategia digital</a>
        </li>
        <li>
          <a class="no-underline color-black" href="https://cdt.ca.gov/wp-content/uploads/2023/08/Bridge-to-the-Future.pdf">Puente al futuro</a>
        </li>
        <li>
          <a class="no-underline color-black" href="https://cdt.ca.gov/wp-content/uploads/2021/10/Cybersecurity_Strategy_Plan_FINAL.pdf">Hoja de ruta para la seguridad de la información - Cal-Secure</a>
        </li>
      </ul>
    </div>
  </div>
</div>
