<div class="bottom-section p-b-sm" style="background: var(--v-6-gray-100, #ededef)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h4">About</h2>
        <ul class="list-unstyled">
          <li>
            <a class="no-underline color-black" href="https://cdt.ca.gov/digitalID/">Digital ID Project</a>
          </li>
          <!-- <li><a class="no-underline color-black" href="">Contact us</a></li> -->
        </ul>
        <div>
          <a href="https://cdt.ca.gov/" class="no-underline color-black">California Department of Technology</a>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="h4">State Strategic plans</h2>
        <ul class="list-unstyled">
          <li>
            <a class="no-underline color-black" href="https://digitalstrategy.cdt.ca.gov/index.html">Digital Strategy</a>
          </li>
          <li>
            <a class="no-underline color-black" href="https://www.envision2026.cdt.ca.gov/">Envision 2026</a>
          </li>
          <li>
            <a
              class="no-underline color-black"
              href="https://cdt.ca.gov/wp-content/uploads/2021/10/Cybersecurity_Strategy_Plan_FINAL.pdf">Information Security Roadmap —
              Cal-Secure</a>
          </li>
        </ul>
      </div>
    </div>
  </div>