<nav id="navigation" class="main-navigation dropdown" aria-label="Main navigation">
    <ul id="nav_list" class="top-level-nav">
        <li class="nav-item">
            <a class="first-level-link" href="/es/primary-elements-es.html">Elementos primarios</a>
        </li>
        <li class="nav-item">
            <a href="/es/accomplishments-es.html" class="first-level-link">Logros</a>
        </li>
        <li class="nav-item">
            <a class="first-level-link" href="/es/projects-es.html">Proyectos y esfuerzos de sinergia</a>
        </li>
        <li class="nav-item">
            <a href="/es/roadmap-es.html" class="first-level-link">Hoja de ruta</a>
        </li>
    </ul>
</nav>