<nav id="navigation" class="main-navigation dropdown" aria-label="Main navigation">
    <ul id="nav_list" class="top-level-nav">
        <li class="nav-item">
            <a class="first-level-link" href="/primary-elements.html">Primary elements</a>
        </li>
        <li class="nav-item">
            <a href="/accomplishments.html" class="first-level-link">Accomplishments</a>
        </li>
        <li class="nav-item">
            <a class="first-level-link" href="/projects.html">Projects and synergy efforts</a>
        </li>
        <li class="nav-item">
            <a href="/roadmap.html" class="first-level-link">Roadmap</a>
        </li>
    </ul>
</nav>