---
layout: null
permalink: "js/template.js"
eleventyExcludeFromCollections: true
---

{%- set code -%}
{%- include "../../src/js/cagov-header-full.html.js" ignore missing -%}
{%- endset -%}
{{- code | safe -}}