.bg-understated {
  background-color: #eef8fb;
}

.h-100 {
  height: 100%;
}

.border-transparent {
  border-color: transparent !important;
}

/* Hide body until nesting is confirmed or polyfilled */
html > body {
  visibility: hidden;
}

/* Modern browsers override this immediately */
html {
  > body {
    visibility: visible;
  }
}
