<!DOCTYPE html>
<html lang="es-US">
  <head>
    <meta charset="utf-8" />
    <title>Estrategia de identificación digital del estado de California</title>
    <meta name="Author" content="State of California" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="alternate"
      hreflang="en"
      href="https://digitalidstrategy.cdt.ca.gov/accomplishments.html"
    />

    <!-- Title Tags -->
    <meta name="title" content="California marco de identidad digital" />
    <meta property="og:title" content="California marco de identidad digital" />
    <meta
      property="twitter:title"
      content="California marco de identidad digital"
    />

    <!-- Description Tags -->
    <meta
      name="description"
      content="CDT lidera todos los aspectos del Marco de Identidad Digital de California, este sistema permite verificar la identidad digital y la elegibilidad a programas."
    />
    <meta
      property="og:description"
      content="CDT lidera todos los aspectos del Marco de Identidad Digital de California, este sistema permite verificar la identidad digital y la elegibilidad a programas."
    />
    <meta
      property="twitter:description"
      content="CDT lidera todos los aspectos del Marco de Identidad Digital de California, este sistema permite verificar la identidad digital y la elegibilidad a programas."
    />

    <!-- Canonical link & share links, improves SEO -->
    <link
      href="https://digitalidstrategy.cdt.ca.gov/es/accomplishments-es.html"
      rel="canonical"
    />
    <meta
      property="og:url"
      content="https://digitalidstrategy.cdt.ca.gov/es/accomplishments-es.html/"
    />
    <meta
      property="twitter:url"
      content="https://digitalidstrategy.cdt.ca.gov/es/accomplishments-es.html/"
    />
    <!-- END Canonical link -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://digitalidstrategy.cdt.ca.gov/images/lightrail-share.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image"
      content="https://digitalidstrategy.cdt.ca.gov/images/lightrail-share.png"
    />

    <!-- State Template CDN CSS -->
    <link
      href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/css/cagov.core.min.css"
      rel="stylesheet"
      integrity="sha256-f2k3x0x/l4G+mg5fxnV+Q37/8RoMOoMOWphHJ4vWn6g="
      crossorigin="anonymous"
    />
    <!-- State Template JavaScript CDN -->
    <script
      src="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/js/cagov.core.min.js"
      integrity="sha256-MRHAOqwc4jjHeTGa/9mcdxAv3aVG+lQ7eJ9DPa+Gr/k="
      defer
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- END STATE_TEMPLATE -->

    <link
      rel="apple-touch-icon-precomposed"
      sizes="100x100"
      href="/images/apple-touch-icon-precomposed.png"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="/images/apple-touch-icon-192x192.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="180x180"
      href="/images/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="/images/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/images/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="/images/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/images/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/images/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="/images/apple-touch-icon-57x57.png"
    />
    <link rel="shortcut icon" href="/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="https://cdt.ca.gov/wp-content/uploads/2017/01/techblog-icon.png"
    />
    <!-- Statewide Alerts Server -->
    <script defer src="https://alert.cdt.ca.gov"></script>
    <!-- BEGIN Google Tag Manager -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <script>
      //*** BEGIN STATE TEMPLATE CHANGE REQUESTED
      //Your GA4 Measurement ID that this website should use for website analytics
      var yourGA4MeasurementId = "G-CLMC17ZTJT";
      //*** END STATE TEMPLATE CHANGE REQUESTED

      //Support code to make this work, just leave this as is
      var stateGTMAccount = "GTM-NJ6Q4MV"; //GTM-NJ6Q4MV - all ca.gov
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
        (function () {
          dataLayer.push(arguments);
        })("config", yourGA4MeasurementId, {
          cookie_flags: "secure;samesite=lax;domain=",
        });
      })(window, document, "script", "dataLayer", stateGTMAccount);
    </script>
    <!-- END Google Tag Manager -->
  </head>

  <body class="primary">
    <header role="banner" id="header" class="global-header fixed">
      <div id="skip-to-content">
        <a href="#main-content">Saltar al contenido principal</a>
      </div>
      <div class="utility-header">
        <div class="container">
          <div class="flex-row">
            <div class="social-media-links">
              <div class="header-cagov-logo">
                <a href="https://ca.gov">
                  <span class="sr-only">CA.gov</span>
                  <span class="ca-gov-logo-svg"></span>
                </a>
              </div>
              <p class="official-tag">
                <span class="desktop-only">Sitio web oficial del</span>
                Estado de California
              </p>
            </div>
            <div class="translation-link">
              <a href="../accomplishments.html">English</a>
            </div>
          </div>
        </div>
      </div>
      <!-- header branding with light gray background -->
      <div class="section-default">
        <div class="branding">
          <div class="header-organization-banner">
            <a href="/es/">
              <div class="logo-assets">
                <img
                  src="/images/blue-gold-fingerprint.png"
                  alt="Fingerprint icon"
                  height="66px"
                  width="67px"
                />
                <div class="logo-text">
                  <span class="logo-state">California</span>
                  <span class="logo-dept">Marco de Identidad Digital</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- mobile navigation controls -->
      <div class="mobile-controls">
        <span class="mobile-control-group mobile-header-icons">
          <!-- Add more mobile controls here. These will be on the right side of the mobile page header section -->
        </span>
        <div class="mobile-control-group main-nav-icons">
          <button
            id="nav-icon3"
            class="mobile-control toggle-menu"
            aria-expanded="false"
            aria-controls="navigation"
          >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="sr-only">Menú</span>
          </button>
        </div>
      </div>
      <div class="navigation-search full-width-nav container">
        <div id="head-search" class="search-container featured-search hidden">
          <div class="container">
            <form id="Search" class="pos-rel" action="serp.html">
              <span class="sr-only" id="SearchInput"
                >Búsqueda personalizada de Google</span
              >
              <input
                type="search"
                name="q"
                aria-labelledby="SearchInput"
                placeholder="Search"
                class="search-textfield"
              />
              <button type="submit" class="gsc-search-button">
                <span class="ca-gov-icon-search" aria-hidden="true"></span>
                <span class="sr-only">Entregar</span>
              </button>
              <div class="close-search-btn">
                <button
                  class="close-search gsc-clear-button border-0 bg-transparent pos-rel"
                  type="reset"
                >
                  <span class="sr-only">Cerca</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- navigation types -->
        {% include "nav-es.njk" %}
      </div>
    </header>
    <div id="main-content" class="main-content">
      <main class="main-primary" id="main">
        <div class="focus-area-header">
          <h1 class="container m-t-0 p-b-lg p-t-lg">Logros</h1>
        </div>
        <div class="container">
          <p class="m-b-lg p-t-md">
            El proyecto de identificación digital se lanzó en 2022 con el
            objetivo de facilitar el acceso a todos los beneficios estatales de
            California. Desde entonces, el equipo de identificación digital ha
            avanzado en el desarrollo de tecnología y herramientas, la
            interacción con la comunidad de identidades más amplia y el
            desarrollo de políticas para respaldar la implementación del Marco
            de Identificación Digital.
          </p>
          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img
                src="/images/fingerprint-check.svg"
                alt="Fingerprint with checkmark icon"
              />
            </div>
            <div class="p-r-lg">
              <strong
                >Sondeo de mercado: interacción con la comunidad de
                identidades</strong
              >
              <p>
                Para solicitar comentarios del mercado privado y validar
                nuestras suposiciones técnicas sobre la gestión segura de la
                identidad para las entidades estatales, Digital ID dirigió un
                sondeo de mercado en el verano de 2022. El sondeo de mercado
                comenzó con un
                <a
                  href="https://www.eventbrite.nl/e/california-department-of-technology-market-sounding-tickets-379644676447?aff=ebdsoporgprofile"
                  >evento de "lanzamiento"</a
                >
                en julio con el Administrador Carnahan de la Administración de
                Servicios Generales y coincidió con la publicación de nuestro
                <a
                  href="https://drive.google.com/file/d/1zvqU77ZdI4jOszEpys9FZiPuchuXK9-s/view"
                  >documento de referencia de sondeo de mercado</a
                >
                que describió los principios clave del Marco de Identificación
                Digital e identificó las áreas en las que estábamos solicitando
                más aportes y retroalimentación.
              </p>
              <p>
                A lo largo del proceso de sondeo de mercado, el equipo realizó
                entrevistas con 13 empresas de tecnología y gestión de
                identidad, y resumió los hallazgos de estas entrevistas en
                nuestro
                <a
                  href="https://drive.google.com/file/d/1a5mBnsxSfMI9hMh4ZxDZgGHQdbtuVIxs/view"
                  >informe final de sondeo de mercado</a
                >. en el otoño de 2022. El sondeo de mercado fue un primer paso
                esencial en el proceso de desarrollo del Marco de Identificación
                digital y ayudó a garantizar que el CDT no desarrollara nuestras
                herramientas y políticas en el vacío. Por el contrario, estas
                conversaciones con las principales partes del mercado
                confirmaron nuestra dirección, elevaron perspectivas diversas en
                torno a cuestiones como la identidad distribuida y validaron la
                propuesta de California Identity Gateway.
              </p>
            </div>
          </div>

          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img
                src="../images/fingerprint-check.svg"
                alt="Fingerprint with checkmark icon"
              />
            </div>
            <div class="p-r-lg">
              <strong
                >California Identity Gateway: desarrollo de herramientas a nivel
                estatal</strong
              >
              <p>
                California Identity Gateway (ID Gateway) es una plataforma
                tecnológica desarrollada por CDT que facilita la interacción
                entre varias entidades digitales (incluidos sitios web estatales
                y proveedores de identidad y elegibilidad) con el fin de
                compartir de forma segura la información necesaria para la
                identificación y la verificación de elegibilidad. El desarrollo
                de Identity Gateway comenzó en enero de 2022.
              </p>
            </div>
          </div>

          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img
                src="/images/pro-services.svg"
                alt="Professional services icon"
              />
            </div>
            <div class="p-r-lg">
              <strong>
                Proyectos piloto de Cal-ITP: probando nuestro modelo en el mundo
                real</strong
              >
              <p>
                Una vez que el California Identity Gateway estuvo operativo, CDT
                se asoció con el
                <a href="https://www.calitp.org/"
                  >Proyecto de Viajes Integrados de California</a
                > (Cal-ITP) para comenzar a brindar beneficios concretos a los
                californianos, ayudando a agilizar el proceso de verificación e
                inscripción para tarifas de transporte con descuento. Al
                utilizar el servicio de atención <a
                  href="https://benefits.calitp.org/"
                  >al cliente de beneficios de Cal-ITP</a
                >, que aprovecha Identity Gateway, los pasajeros pueden
                verificar su condición de veteranos o personas mayores con
                proveedores de transporte local como MST (Monterey Salinas
                Transit), SBMTD (Santa Barbara Metropolitan Transit District) y
                SacRT (Sacramento Regional Transit) y vincular su elegibilidad a
                su tarjeta bancaria sin contacto. Una vez vinculada, los
                pasajeros pueden recibir su descuento de transporte mientras
                pagan de la misma manera que compran una taza de café. Este
                modelo de tarifa reducida es fácilmente replicable y escalable,
                y Cal-ITP seguirá ayudando a más agencias en todo el estado a
                implementar este sistema.
              </p>
            </div>
          </div>

          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img src="/images/users-dialog.svg" alt="User dialog icon" />
            </div>
            <div class="p-r-lg">
              <strong>
                Integraciones adicionales: creación de un grupo de proveedores
                de identidad y elegibilidad</strong
              >
              <p>
                El marco de identificación digital se basa en el acceso seguro a
                múltiples fuentes de información confiable sobre los
                californianos y su elegibilidad para los servicios y beneficios
                estatales. El CDT tiene integraciones operativas con
                <a href="http://login.gov/">Login.Gov</a>, el <a
                  href="https://www.va.gov/"
                  >Departamento de Asuntos de Veteranos</a
                >,
                <a href="https://bluebutton.cms.gov/"
                  >los Centros de Servicios de Medicare y Medicaid</a
                >
                y el
                <a href="https://www.cdss.ca.gov/calfresh"
                  >Departamento de Servicios Sociales</a
                >
                que cubren muchos atributos de identidad clave como la edad, el
                estado de veterano, la inscripción en Medicare y el estado de
                CalFresh. El CDT también está trabajando activamente para
                implementar integraciones adicionales que brindarán a los
                clientes más información sobre los californianos, como el estado
                de ingresos.
              </p>
            </div>
          </div>

          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img src="/images/flowchart.svg" alt="Flowchart icon" />
            </div>
            <div class="p-r-lg">
              <strong>
                Nuevos casos de uso: exploración de implementaciones
                adicionales</strong
              >
              <p>
                Nuevos casos de uso: exploración de implementaciones adicionales
                Para ampliar el uso de Identity Gateway y demostrar nuevas
                formas de aplicar el Marco de identificación digital, el CDT, en
                asociación con la
                <a href="https://innovation.ca.gov/"
                  >Oficina de Datos e Innovación</a
                >
                (ODI) ha comenzado a realizar "inmersiones profundas" con otras
                agencias estatales que pueden estar interesadas en asociaciones
                a corto plazo para mejorar la verificación de elegibilidad. A
                fines de 2023 y principios de 2024, el CDT se comunicó con la
                <a href="https://ww2.arb.ca.gov/"
                  >Junta de Recursos del Aire de California</a
                >
                (CARB) y el
                <a href="https://www.parks.ca.gov/"
                  >Departamento de Parques y Recreación</a
                >
                (DPR) para explorar cómo pueden beneficiarse del marco de
                identificación digital y discutir el potencial de implementar la
                tecnología CDT. Continuando en la segunda mitad de 2024, el CDT
                se ha puesto en contacto con la
                <a
                  href="https://www.cpuc.ca.gov/"
                  aria-label="California Public Utilities Commission"
                ></a
                >Comisión de Servicios Públicos de California (CPUC) y la
                <a href="https://cppa.ca.gov/"
                  >Agencia de Protección de la Privacidad de California</a
                >
                (CPPA) para explorar sus casos de uso para la comprobación de
                identidad y elegibilidad y las posibilidades de implementación
                de California Identity Gateway.
              </p>
            </div>
          </div>
        </div>
        <div
          class="bottom-section p-b-sm"
          style="background: var(--v-6-gray-100, #ededef)"
        >
          <div class="container row">
            <div class="col-md-6">
              <h2 class="h4">Sobre Marco de Identidad Digital</h2>
              <ul class="list-unstyled">
                <li>
                  <a
                    class="no-underline color-black"
                    href="https://cdt.ca.gov/digitalID/"
                    >Proyecto de Identidad Digital</a
                  >
                </li>
                <div>
                  <a
                    href="https://cdt.ca.gov/"
                    hreflang="en"
                    class="no-underline color-black"
                    >Departamento de Tecnología de California</a
                  >
                </div>
              </ul>
            </div>
            <div class="col-md-6">
              <h2 class="h4">Planes estratégicos estatales</h2>
              <ul class="list-unstyled">
                <li>
                  <a
                    class="no-underline color-black"
                    href="https://digitalstrategy.cdt.ca.gov/index.html"
                    >Estrategia digital</a
                  >
                </li>
                <li>
                  <a
                    class="no-underline color-black"
                    href="https://cdt.ca.gov/wp-content/uploads/2023/08/Bridge-to-the-Future.pdf"
                    >Puente al futuro</a
                  >
                </li>
                <li>
                  <a
                    class="no-underline color-black"
                    href="https://cdt.ca.gov/wp-content/uploads/2021/10/Cybersecurity_Strategy_Plan_FINAL.pdf"
                    >Hoja de ruta para la seguridad de la información -
                    Cal-Secure</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- Global Footer -->
    {% include "footer-es.njk" %}
    <!-- Extra Decorative Content -->
    <div class="decoration-last">&nbsp;</div>
  </body>
</html>
