---
title: Elementos primarios
description: CDT lidera todos los aspectos del Marco de Identidad Digital de California, este sistema permite verificar la identidad digital y la elegibilidad a programas.
canonical: https://digitalidstrategy.cdt.ca.gov/es/primary-elements-es.html
shareimage: https://digitalidstrategy.cdt.ca.gov/images/lightrail-share.png
alternatelink: https://digitalidstrategy.cdt.ca.gov/primary-elements.html
permalink: /es/primary-elements-es.html
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
  <title>{{ title }}</title>
    <meta name="Author" content="State of California" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="alternate" hreflang="en" href="{{ alternatelink }}" />

    <!-- Title Tags -->
    <meta name="title" content="{{ title }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="twitter:title" content="{{ title }}" />

    <!-- Description Tags -->
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="twitter:description" content="{{ description }}" />

    <!-- Canonical link & share links, improves SEO -->
    <link href="{{ canonical }}" rel="canonical" />
    <meta property="og:url" content="{{ canonical }}" />
    <meta property="twitter:url" content="{{ canonical }}" />
    <!-- END Canonical link -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://digitalidstrategy.cdt.ca.gov/images/lightrail-share.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image"
      content="https://digitalidstrategy.cdt.ca.gov/images/lightrail-share.png"
    />

    <!-- State Template CDN CSS -->
    <link
      href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/css/cagov.core.min.css"
      rel="stylesheet"
      integrity="sha256-f2k3x0x/l4G+mg5fxnV+Q37/8RoMOoMOWphHJ4vWn6g="
      crossorigin="anonymous"
    />
    <!-- State Template JavaScript CDN -->
    <script
      src="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/js/cagov.core.min.js"
      integrity="sha256-MRHAOqwc4jjHeTGa/9mcdxAv3aVG+lQ7eJ9DPa+Gr/k="
      defer
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- END STATE_TEMPLATE -->

    <link
      rel="apple-touch-icon-precomposed"
      sizes="100x100"
      href="/images/apple-touch-icon-precomposed.png"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="/images/apple-touch-icon-192x192.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="180x180"
      href="/images/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="/images/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/images/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="/images/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/images/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/images/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="/images/apple-touch-icon-57x57.png"
    />
    <link rel="shortcut icon" href="/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="https://cdt.ca.gov/wp-content/uploads/2017/01/techblog-icon.png"
    />
    <!-- Statewide Alerts Server -->
    <script defer src="https://alert.cdt.ca.gov"></script>
    <!-- BEGIN Google Tag Manager -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <script>
      //*** BEGIN STATE TEMPLATE CHANGE REQUESTED
      //Your GA4 Measurement ID that this website should use for website analytics
      var yourGA4MeasurementId = "G-CLMC17ZTJT";
      //*** END STATE TEMPLATE CHANGE REQUESTED

      //Support code to make this work, just leave this as is
      var stateGTMAccount = "GTM-NJ6Q4MV"; //GTM-NJ6Q4MV - all ca.gov
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
        (function () {
          dataLayer.push(arguments);
        })("config", yourGA4MeasurementId, {
          cookie_flags: "secure;samesite=lax;domain=",
        });
      })(window, document, "script", "dataLayer", stateGTMAccount);
    </script>
    <!-- END Google Tag Manager -->
  </head>

  <body class="primary">
    <header role="banner" id="header" class="global-header fixed">
      <div id="skip-to-content">
        <a href="#main-content">Saltar al contenido principal</a>
      </div>
      <div class="utility-header">
        <div class="container">
          <div class="flex-row">
            <div class="social-media-links">
              <div class="header-cagov-logo">
                <a href="https://ca.gov">
                  <span class="sr-only">CA.gov</span>
                  <span class="ca-gov-logo-svg"></span>
                </a>
              </div>
              <p class="official-tag">
                <span class="desktop-only">Sitio web oficial del</span>
                Estado de California
              </p>
            </div>
            <div class="translation-link">
              <a
                href="/primary-elements/"
                rel="alternate"
                hreflang="en"
                lang="es"
                >Inglés</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- header branding with light gray background -->
      <div class="section-default">
        <div class="branding">
          <div class="header-organization-banner">
            <a href="/es/index-es/">
              <div class="logo-assets">
                <img
                  src="/images/blue-gold-fingerprint.png"
                  alt="Fingerprint icon"
                  height="66px"
                  width="67px"
                />
                <div class="logo-text">
                  <span class="logo-state">California</span>
                  <span class="logo-dept">Marco de Identidad Digital</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- mobile navigation controls -->
      <div class="mobile-controls">
        <span class="mobile-control-group mobile-header-icons">
          <!-- Add more mobile controls here. These will be on the right side of the mobile page header section -->
        </span>
        <div class="mobile-control-group main-nav-icons">
          <button
            id="nav-icon3"
            class="mobile-control toggle-menu"
            aria-expanded="false"
            aria-controls="navigation"
          >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="sr-only">Menú</span>
          </button>
        </div>
      </div>
      <div class="navigation-search full-width-nav container">
        <div id="head-search" class="search-container featured-search hidden">
          <div class="container">
            <form id="Search" class="pos-rel" action="serp.html">
              <span class="sr-only" id="SearchInput"
                >Búsqueda personalizada de Google</span
              >
              <input
                type="search"
                name="q"
                aria-labelledby="SearchInput"
                placeholder="Search"
                class="search-textfield"
              />
              <button type="submit" class="gsc-search-button">
                <span class="ca-gov-icon-search" aria-hidden="true"></span>
                <span class="sr-only">Entregar</span>
              </button>
              <div class="close-search-btn">
                <button
                  class="close-search gsc-clear-button border-0 bg-transparent pos-rel"
                  type="reset"
                >
                  <span class="sr-only">Cerca</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- navigation types -->
        {% include "nav-es.njk" %}
      </div>
    </header>
    <div id="main-content" class="main-content">
      <main class="main-primary" id="main">
        <div class="focus-area-header">
          <h1 class="container m-t-0 p-b-lg p-t-lg">Elementos primarios</h1>
        </div>
        <div class="container p-b-lg">
          <p class="m-b-lg p-t-md">
            Hay cuatro elementos principales dentro del Marco de Identificación
            Digital que los usuarios pueden aprovechar para obtener acceso a los
            numerosos servicios y beneficios de California.
          </p>
          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img src="/images/badge.svg" alt="Badge icon" />
            </div>
            <div class="p-r-lg">
              <strong>Identificación digital</strong>
              <p>Identificación digital</p>
              <p>
                Una identificación digital es una forma de demostrar su
                identidad en línea, diseñada para simplificar el acceso a
                servicios e información que están destinados solo para usted.
                Una identificación digital es como una contraparte digital de
                sus documentos de identificación físicos, como un pasaporte o
                licencia de conducir; es una prueba electrónica de su identidad
                que puede "presentar" en línea para demostrar quién es y que es
                elegible para acceder a información, servicios y beneficios.
              </p>

              <p>
                “Presentas” tu identificación digital al proporcionar
                información a la que solo tú deberías tener acceso. Esto puede
                incluir ingresar algo que sepas, como un nombre de usuario y una
                contraseña, o detalles personales como tu nombre, fecha de
                nacimiento o número de la seguridad social. También puedes
                verificar algo que tienes, ingresando un código enviado a tu
                dispositivo móvil o tomando una imagen de tus documentos de
                identificación físicos. Por último, también puedes probar algo
                que eres, usando la cámara de tu teléfono inteligente para
                verificar que eres tú detrás de la pantalla, o escaneando tus
                huellas dactilares. Debido a que solo tú deberías poder
                proporcionar esta combinación de datos personales, estos sitios
                web pueden estar razonablemente seguros de que realmente eres tú
                quien intenta obtener acceso.
              </p>

              <p>
                El Marco de Identidad Digital estandarizó la adopción de la
                aceptación de la identificación digital en todas las agencias
                estatales y garantiza que la identificación digital que tiene se
                pueda crear y reutilizar para todos los beneficios y servicios
                estatales para los que es elegible.
              </p>
            </div>
          </div>

          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img src="../images/badge.svg" alt="Badge icon" />
            </div>
            <div class="p-r-lg">
              <strong>Portal de identidad de California</strong>
              <p>Plataforma tecnológica construida por CDT</p>
              <p>
                California Identity Gateway (ID Gateway) es una plataforma
                tecnológica desarrollada por CDT que facilita la interacción
                entre varias entidades digitales (incluidos los sitios web
                estatales y los proveedores de identidad y elegibilidad) con el
                fin de compartir de forma segura la información necesaria para
                la identificación y la verificación de elegibilidad. ID Gateway
                une la autenticación realizada por los proveedores de identidad
                mediante el protocolo de autenticación OpenID Connect, lo que
                permite a los proveedores de elegibilidad y a las agencias
                estatales confiar en que los usuarios son quienes dicen ser y
                permite a los usuarios utilizar un inicio de sesión único (SSO)
                con el proveedor de identidad para acceder a servicios,
                beneficios e información de cualquier agencia cliente integrada
                en California. ID Gateway es el servicio preferido del estado
                para este propósito, ya que permite a las agencias estatales
                acceder de forma segura a información crítica sobre las personas
                a las que buscan servir.
              </p>
            </div>
          </div>

          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img src="/images/encrypted.svg" alt="Encrypted icon" />
            </div>
            <div class="p-r-lg">
              <strong>Credenciales digitales</strong>
              <p>
                Artefactos digitales creados a partir de la gobernanza del CDT y
                supervisados ​​por la Oficina de Servicios Digitales del CDT
              </p>
              <p>
                Una credencial digital es un artefacto digital que las personas
                pueden presentar en línea (o en persona, utilizando un
                dispositivo con una billetera móvil) para compartir atributos
                importantes sobre sí mismas con terceros. El Marco de
                Identificación Digital estandarizará los atributos clave de las
                credenciales digitales emitidas por los estados (como su
                apariencia) y garantizará que todas las credenciales digitales
                emitidas por los estados sean compatibles con las billeteras
                móviles de uso generalizado.
              </p>
              <p>
                Las credenciales digitales contienen información relevante sobre
                los atributos de una persona, ya sea proporcionando medios para
                verificar el atributo con la entidad emisora ​​o almacenando
                estos atributos en el dispositivo de un usuario y presentándolos
                de una manera que sea verificable de forma independiente. Las
                credenciales digitales pueden presentarse en muchos formatos
                diferentes, incluidos la web, aplicaciones móviles,
                integraciones móviles nativas o incluso en soluciones
                propietarias. Algunos ejemplos de credenciales digitales
                incluyen pases para parques estatales, licencias profesionales
                emitidas por el estado, registros de vacunación, pases de
                tránsito con descuentos incorporados, tarjetas de acceso a
                cargadores de vehículos eléctricos y licencias de conducir
                móviles (mDL).
              </p>
            </div>
          </div>
          <div class="flex primary-card m-b-lg">
            <div class="p-r">
              <img src="/images/aod.svg" alt="Mobile phone icon" />
            </div>
            <div class="p-r-lg">
              <strong>Monedero digital</strong>
              <p>
                Una billetera digital es un espacio seguro en su dispositivo
                electrónico que almacena artefactos digitales confidenciales.
                Las interfaces de las billeteras digitales varían; algunas están
                integradas en el software nativo de los dispositivos digitales
                (como la “billetera” en un teléfono Apple o Android), mientras
                que otras están alojadas en una aplicación móvil o basada en la
                web. Cualquier tipo de billetera digital puede desempeñar un
                papel en las interacciones que conforman el ecosistema de
                identificación digital.
              </p>
              <p>
                Las billeteras digitales contienen muchos tipos de artefactos
                digitales (tarjetas bancarias, tarjetas de membresía, licencias
                de conducir móviles, etc.) y pueden facilitar interacciones
                seguras con estos artefactos, lo que permite a los usuarios
                pagar bienes en línea o en persona mediante la transmisión
                segura de información de pago, o confirmar su elegibilidad para
                un beneficio o descuento presentando información de identidad.
                Las billeteras digitales generalmente incorporan una
                funcionalidad de seguridad que garantiza que solo el usuario
                principal pueda acceder y compartir lo que contiene, lo que
                incluye la exigencia de códigos de acceso, verificación
                biométrica (reconocimiento facial o escaneo de huellas
                dactilares) o autenticación multifactor.
              </p>
            </div>
          </div>

          <h2>Principios básicos</h2>
          <p>
            Hay cuatro principios básicos que guían el Marco de Identificación
            Digital:
          </p>

          <p>
            <strong>Seguridad de clase mundial</strong><br />
            Para garantizar el más alto nivel de protección de la privacidad y
            seguridad de los datos para los californianos, el CDT exige a todos
            los participantes en el ecosistema de identificación digital que
            cumplan con estándares internacionales de gestión responsable de
            datos. Estos incluyen el cumplimiento de estándares como el
            protocolo de autenticación de identidad Open ID Connect y los
            estándares ISO / IEC relacionados con la gestión de identidad y la
            verificación digital.
          </p>

          <p>
            <strong>Privacidad desde el diseño</strong><br />
            El CDT aboga por la integración de medidas de protección de datos y
            privacidad directamente en el desarrollo de tecnología y el diseño
            de políticas, procesos y programas de verificación. En un sentido
            práctico, esto significa minimizar la recopilación y el
            almacenamiento de todos los datos que no sean estrictamente
            necesarios, implementar medidas técnicas y organizativas para
            proteger la seguridad de los datos e incorporar prácticas como la
            seudonimización, el cifrado y la autenticación de usuarios de una
            manera que responda a los riesgos y al contexto del caso de uso del
            procesamiento de datos.
          </p>

          <p>
            <strong>Acceso y equidad</strong><br />
            Todos los californianos deberían poder acceder de forma segura y
            cómoda a los servicios y beneficios digitales del gobierno; para
            defender esta visión, el CDT alienta firmemente a todos los
            participantes del ecosistema de identificación digital a priorizar
            el diseño intuitivo y las interfaces accesibles, y a considerar las
            disparidades técnicas, demográficas y socioeconómicas que aún
            existen entre muchos californianos al diseñar sus programas.
          </p>

          <p>
            <strong>Apertura y transparencia</strong><br />
            Como administradores de los datos públicos y como facilitadores
            clave de la prestación de servicios gubernamentales, el CDT tiene la
            responsabilidad de mantener los más altos estándares de honestidad e
            integridad en todo nuestro trabajo. También exigimos a nuestros
            socios los mismos estándares y creemos que la transparencia no solo
            aumenta la confianza en nuestro trabajo, sino que también es un
            precursor de la innovación y la colaboración para el mejoramiento de
            todos. También tenemos preferencia por el software de código abierto
            siempre que sea posible.
          </p>
        </div>
        <!-- Global Bottom Section -->
        {% include "bottom-section-es.njk" %}
      </main>
    </div>
    <!-- Global Footer -->
    {% include "footer-es.njk" %}
  </body>
</html>
