<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>
      California State Digital ID Strategy - Web accessibility certification
    </title>
    <meta name="Author" content="State of California" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="alternate"
      hreflang="es"
      href="https://digitalidstrategy.cdt.ca.gov/es/website-accessibility-certification-es.html" />

    <!-- Title Tags -->
    <meta name="title" content="California State Digital ID Strategy" />
    <meta property="og:title" content="California State Digital ID Strategy" />
    <meta
      property="twitter:title"
      content="California State Digital ID Strategy" />

    <!-- Description Tags -->
    <meta
      name="description"
      content="CDT leads all aspects of the California Digital ID Framework — a system of data and services allowing for digital identity and program eligibility verification." />
    <meta
      property="og:description"
      content="CDT leads all aspects of the California Digital ID Framework — a system of data and services allowing for digital identity and program eligibility verification." />
    <meta
      property="twitter:description"
      content="CDT leads all aspects of the California Digital ID Framework — a system of data and services allowing for digital identity and program eligibility verification." />

    <!-- Canonical link, improves SEO -->
    <link
      href="https://digitalidstrategy.cdt.ca.gov/es/website-accessibility-certification-es.html"
      rel="canonical" />
    <meta
      property="og:url"
      content="https://digitalidstrategy.cdt.ca.gov/es/website-accessibility-certification-es.html" />
    <meta
      property="twitter:url"
      content="https://digitalidstrategy.cdt.ca.gov/es/website-accessibility-certification-es.html" />
    <!-- END Canonical link -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://digitalidstrategy.cdt.ca.govimages/lightrail-share.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image"
      content="https://digitalidstrategy.cdt.ca.govimages/lightrail-share.png" />

    <!-- State Template CDN CSS -->
    <link
      href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/css/cagov.core.min.css"
      rel="stylesheet"
      integrity="sha256-f2k3x0x/l4G+mg5fxnV+Q37/8RoMOoMOWphHJ4vWn6g="
      crossorigin="anonymous" />
    <!-- State Template JavaScript CDN -->
    <script
      src="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/js/cagov.core.min.js"
      integrity="sha256-MRHAOqwc4jjHeTGa/9mcdxAv3aVG+lQ7eJ9DPa+Gr/k="
      defer
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- END STATE_TEMPLATE -->

    <link
      rel="apple-touch-icon-precomposed"
      sizes="100x100"
      href="/images/apple-touch-icon-precomposed.png" />
    <link
      rel="icon"
      sizes="192x192"
      href="/images/apple-touch-icon-192x192.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="180x180"
      href="/images/apple-touch-icon-180x180.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="/images/apple-touch-icon-152x152.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/images/apple-touch-icon-144x144.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="/images/apple-touch-icon-120x120.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/images/apple-touch-icon-114x114.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/images/apple-touch-icon-72x72.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="/images/apple-touch-icon-57x57.png" />
    <link rel="shortcut icon" href="/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="https://cdt.ca.gov/wp-content/uploads/2017/01/techblog-icon.png" />
    <!-- Statewide Alerts Server -->
    <script defer src="https://alert.cdt.ca.gov"></script>
    <!-- BEGIN Google Tag Manager -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <script>
      //*** BEGIN STATE TEMPLATE CHANGE REQUESTED
      //Your GA4 Measurement ID that this website should use for website analytics
      var yourGA4MeasurementId = "G-CLMC17ZTJT";
      //*** END STATE TEMPLATE CHANGE REQUESTED

      //Support code to make this work, just leave this as is
      var stateGTMAccount = "GTM-NJ6Q4MV"; //GTM-NJ6Q4MV - all ca.gov
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
        (function () {
          dataLayer.push(arguments);
        })("config", yourGA4MeasurementId, {
          cookie_flags: "secure;samesite=lax;domain=",
        });
      })(window, document, "script", "dataLayer", stateGTMAccount);
    </script>
    <!-- END Google Tag Manager -->

    <script type="text/javascript">
      let languageFlag = sessionStorage.getItem("isBrowserSpanish");
      let lang = window.navigator.languages
        ? window.navigator.languages[0]
        : null;
      lang =
        lang ||
        window.navigator.language ||
        window.navigator.browserLanguage ||
        window.navigator.userLanguage;

      let shortLang = lang;
      if (shortLang.indexOf("-") !== -1) shortLang = shortLang.split("-")[0];

      if (shortLang.indexOf("_") !== -1) shortLang = shortLang.split("_")[0];

      if (shortLang === "es" && !languageFlag) {
        window.location.replace("./" + shortLang + "/website-accessibility-certification-es.html");
        sessionStorage.setItem("isBrowserSpanish", "true");
      }
    </script>
  </head>

  <body class="primary">
    <header role="banner" id="header" class="global-header fixed">
      <div id="skip-to-content">
        <a href="#main-content">Skip to Main Content</a>
      </div>
      <div class="utility-header">
        <div class="container">
          <div class="flex-row">
            <div class="social-media-links">
              <div class="header-cagov-logo">
                <a href="https://ca.gov">
                  <span class="sr-only">CA.gov</span>
                  <span class="ca-gov-logo-svg"></span>
                </a>
              </div>
              <p class="official-tag">
                <span class="desktop-only">Official website of the</span>
                State of California
              </p>
            </div>
            <div class="translation-link">
              <a
                href="/website-accessibility-certification/"
                rel="alternate"
                hreflang="en"
                lang="es"
                >Inglés</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- header branding with light gray background -->
      <div class="section-default">
        <div class="branding">
          <div class="header-organization-banner">
            <a href="/es/index-es/">
              <div class="logo-assets">
                <img
                  src="/images/blue-gold-fingerprint.png"
                  alt="Fingerprint icon"
                  width="67px" />
                <div class="logo-text">
                  <span class="logo-state">California State</span>
                  <span class="logo-dept">Digital ID Framework</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- mobile navigation controls -->
      <div class="mobile-controls">
        <span class="mobile-control-group mobile-header-icons">
          <!-- Add more mobile controls here. These will be on the right side of the mobile page header section -->
        </span>
        <div class="mobile-control-group main-nav-icons">
          <button
            id="nav-icon3"
            class="mobile-control toggle-menu"
            aria-expanded="false"
            aria-controls="navigation">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="sr-only">Menu</span>
          </button>
        </div>
      </div>
      <div class="navigation-search full-width-nav container">
        <div id="head-search" class="search-container featured-search hidden">
          <div class="container">
            <form id="Search" class="pos-rel" action="serp.html">
              <span class="sr-only" id="SearchInput">Custom Google Search</span>
              <input
                type="search"
                name="q"
                aria-labelledby="SearchInput"
                placeholder="Search"
                class="search-textfield" />
              <button type="submit" class="gsc-search-button">
                <span class="ca-gov-icon-search" aria-hidden="true"></span>
                <span class="sr-only">Submit</span>
              </button>
              <div class="close-search-btn">
                <button
                  class="close-search gsc-clear-button border-0 bg-transparent pos-rel"
                  type="reset">
                  <span class="sr-only">Close</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- navigation types -->
        {% include "nav-es.njk" %}
      </div>
    </header>
    <div id="main-content" class="main-content">
      <main class="main-primary" id="main">
        <div class="focus-area-header">
          <h1 class="container m-t-0 p-b-lg p-t-lg">
            Certificación de Accesibilidad de Sitios Web
          </h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-10 p-b-lg">
              <h2>Certificación 2025</h2>

              <div class="m-b-lg">
                <h3 class="m-b-0">Agencia:</h3>
                Departamento de Tecnología de California
              </div>
              <div class="m-b-lg">
                <h3 class="m-b-0">Fecha de certificación:</h3>
                10 de junio de 2025
              </div>
              <div class="m-b-lg">
                <h3 class="m-b-0">Contacto:</h3>
                <a href="mailto:example@state.ca.gov">
                  ServiceDesk@state.ca.gov
                </a>
              </div>

              <p class="lh-lg">
                Los abajo firmantes certifican que, a partir del
                <strong>10 de junio de 2025</strong>, el sitio web del
                <strong
                  >Estrategia de identificación digital del estado de
                  California</strong
                >
                está diseñado, desarrollado y mantenido para ser accesible. Esto
                indica el cumplimiento de lo siguiente:
              </p>

              <ul class="m-b-lg">
                <li>
                  Secciones
                  <a
                    href="https://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?sectionNum=7405&lawCode=GOV"
                    >7405 del Código de Gobierno de California</a
                  >,
                  <a
                    href="https://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?sectionNum=11135&lawCode=GOV"
                    >11135</a
                  >, y
                  <a
                    href="vhttps://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?sectionNum=11546.7&lawCode=GOV"
                    >11546.7</a
                  >
                </li>
                <li>
                  <a href="https://www.w3.org/TR/WCAG21?portal-california"
                    >Pautas de accesibilidad al contenido web 2.1</a
                  >
                  publicado por la Iniciativa de Accesibilidad Web del Consorcio
                  World Wide Web
                </li>
                <li>Criterios de éxito de nivel AA como mínimo</li>
              </ul>

              <div class="row">
                <div class="lh-lg">
                  <strong>Quentin Wright</strong>
                  <p>
                    Director de Información<br />
                    (Firma en archivo) 10 de junio de 2025
                  </p>
                </div>
                <div class="lh-lg">
                  <strong>Liana Bailey-Crimmins</strong>
                  <p>
                    Director<br />
                    (Firma en archivo) 10 de junio de 2025
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Global Bottom Section -->
        {% include "bottom-section-es.njk" %}
      </main>
    </div>
    <!-- Global Footer -->
    {% include "footer-es.njk" %}
    <!-- Extra Decorative Content -->
    <div class="decoration-last">&nbsp;</div>
  </body>
</html>
