<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>California State Digital ID Strategy</title>
    <meta name="Author" content="State of California" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="alternate" hreflang="es" href="/es/" />

    <!-- Title Tags -->
    <meta name="title" content="California State Digital ID Strategy" />
    <meta property="og:title" content="California State Digital ID Strategy" />
    <meta
      property="twitter:title"
      content="California State Digital ID Strategy"
    />

    <!-- Description Tags -->
    <meta
      name="description"
      content="CDT leads all aspects of the California Digital ID Framework — a system of data and services allowing for digital identity and program eligibility verification."
    />
    <meta
      property="og:description"
      content="CDT leads all aspects of the California Digital ID Framework — a system of data and services allowing for digital identity and program eligibility verification."
    />
    <meta
      property="twitter:description"
      content="CDT leads all aspects of the California Digital ID Framework — a system of data and services allowing for digital identity and program eligibility verification."
    />

    <!-- Canonical link, improves SEO -->
    <link href="https://digitalidstrategy.cdt.ca.gov/" rel="canonical" />
    <meta property="og:url" content="https://digitalidstrategy.cdt.ca.gov/" />
    <meta
      property="twitter:url"
      content="https://digitalidstrategy.cdt.ca.gov/"
    />
    <!-- END Canonical link -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://digitalidstrategy.cdt.ca.govimages/lightrail-share.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image"
      content="https://digitalidstrategy.cdt.ca.govimages/lightrail-share.png"
    />

    <!-- State Template CDN CSS -->
    <link
      href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/css/cagov.core.min.css"
      rel="stylesheet"
      integrity="sha256-f2k3x0x/l4G+mg5fxnV+Q37/8RoMOoMOWphHJ4vWn6g="
      crossorigin="anonymous"
    />
    <!-- State Template JavaScript CDN -->
    <script
      src="https://cdn.cdt.ca.gov/cdt/statetemplate/6.5.1/js/cagov.core.min.js"
      integrity="sha256-MRHAOqwc4jjHeTGa/9mcdxAv3aVG+lQ7eJ9DPa+Gr/k="
      defer
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- END STATE_TEMPLATE -->

    <link
      rel="apple-touch-icon-precomposed"
      sizes="100x100"
      href="images/apple-touch-icon-precomposed.png"
    />
    <link
      rel="icon"
      sizes="192x192"
      href="images/apple-touch-icon-192x192.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="180x180"
      href="images/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="images/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="images/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="images/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="images/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="images/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="images/apple-touch-icon-57x57.png"
    />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="https://cdt.ca.gov/wp-content/uploads/2017/01/techblog-icon.png"
    />
    <!-- Statewide Alerts Server -->
    <script
      defer
      src="https://alert.cdt.ca.gov"
      crossorigin="anonymous"
    ></script>
    <!-- BEGIN Google Tag Manager -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <script>
      //*** BEGIN STATE TEMPLATE CHANGE REQUESTED
      //Your GA4 Measurement ID that this website should use for website analytics
      var yourGA4MeasurementId = "G-CLMC17ZTJT";
      //*** END STATE TEMPLATE CHANGE REQUESTED

      //Support code to make this work, just leave this as is
      var stateGTMAccount = "GTM-NJ6Q4MV"; //GTM-NJ6Q4MV - all ca.gov
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
        (function () {
          dataLayer.push(arguments);
        })("config", yourGA4MeasurementId, {
          cookie_flags: "secure;samesite=lax;domain=",
        });
      })(window, document, "script", "dataLayer", stateGTMAccount);
    </script>
    <!-- END Google Tag Manager -->

    <script type="text/javascript">
      let languageFlag = sessionStorage.getItem("isBrowserSpanish");
      let lang = window.navigator.languages
        ? window.navigator.languages[0]
        : null;
      lang =
        lang ||
        window.navigator.language ||
        window.navigator.browserLanguage ||
        window.navigator.userLanguage;

      let shortLang = lang;
      if (shortLang.indexOf("-") !== -1) shortLang = shortLang.split("-")[0];

      if (shortLang.indexOf("_") !== -1) shortLang = shortLang.split("_")[0];

      if (shortLang === "es" && !languageFlag) {
        window.location.replace("./" + shortLang + "/index-es.html");
        sessionStorage.setItem("isBrowserSpanish", "true");
      }
    </script>
  </head>

  <body class="primary">
    <header role="banner" id="header" class="global-header fixed">
      <div id="skip-to-content">
        <a href="#main-content">Skip to Main Content</a>
      </div>
      <div class="utility-header">
        <div class="container">
          <div class="flex-row">
            <div class="social-media-links">
              <div class="header-cagov-logo">
                <a href="https://ca.gov">
                  <span class="sr-only">CA.gov</span>
                  <span class="ca-gov-logo-svg"></span>
                </a>
              </div>
              <p class="official-tag">
                <span class="desktop-only">Official website of the</span>
                State of California
              </p>
            </div>
            <div class="translation-link">
              <a href="/es/index-es/" hreflang="es" rel="alternate" lang="es"
                >Español</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- header branding with light gray background -->
      <div class="section-default">
        <div class="branding">
          <div class="header-organization-banner">
            <a href="/">
              <div class="logo-assets">
                <img
                  src="/images/blue-gold-fingerprint.png"
                  alt="Fingerprint icon"
                  height="66px"
                  width="67px"
                />
                <div class="logo-text">
                  <span class="logo-state">California State</span>
                  <span class="logo-dept">Digital ID Framework</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- mobile navigation controls -->
      <div class="mobile-controls">
        <span class="mobile-control-group mobile-header-icons">
          <!-- Add more mobile controls here. These will be on the right side of the mobile page header section -->
        </span>
        <div class="mobile-control-group main-nav-icons">
          <button
            id="nav-icon3"
            class="mobile-control toggle-menu"
            aria-expanded="false"
            aria-controls="navigation"
          >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="sr-only">Menu</span>
          </button>
        </div>
      </div>
      <div class="navigation-search full-width-nav container">
        <div id="head-search" class="search-container featured-search hidden">
          <div class="container">
            <form id="Search" class="pos-rel" action="serp.html">
              <span class="sr-only" id="SearchInput">Custom Google Search</span>
              <input
                type="search"
                name="q"
                aria-labelledby="SearchInput"
                placeholder="Search"
                class="search-textfield"
              />
              <button type="submit" class="gsc-search-button">
                <span class="ca-gov-icon-search" aria-hidden="true"></span>
                <span class="sr-only">Submit</span>
              </button>
              <div class="close-search-btn">
                <button
                  class="close-search gsc-clear-button border-0 bg-transparent pos-rel"
                  type="reset"
                >
                  <span class="sr-only">Close</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- navigation types -->
        {% include "nav.njk" %}
      </div>
    </header>
    <div id="main-content" class="main-content">
      <main class="main-primary" id="main">
        <div class="hero-banner">
          <div class="container">
            <div class="flex-column">
              <h1 class="h2 text-light fw-lighter m-t-lg">
                Safe and scalable digital access for Californians
              </h1>
              <div class="m-b-md">
                <a
                  href="CDT-Digital-ID-Framework-Strategy.pdf"
                  class="btn btn-highlight m-r-sm m-b-sm"
                  style="color: #01395e"
                  download
                  >Download PDF</a
                >
                <a
                  href="https://cdt.ca.gov/digitalID/"
                  class="btn btn-primary border-light m-b-sm"
                  style="font-weight: normal"
                  >Digital Identity Project</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="bg-s1">
          <div class="container p-y-lg">
            <p>
              A <strong>digital identity (ID)</strong> is a way to prove who you
              are in the online world. A Digital ID is like a digital
              counterpart to your physical identification documents such as a
              passport or driver's license; it's an electronic proof of your
              identity that you can “present” online to prove who you are and
              that you are eligible to access information, services, and
              benefits.
            </p>
            <p>
              The <strong>Digital ID Framework</strong>, managed by the
              California Department of Technology, ensures that everyone is held
              to the same high standards, better protecting your privacy, and
              helps you easily access more of California’s state programs and
              benefits by simplifying and streamlining eligibility verification
              across agencies.
            </p>
          </div>
        </div>

        <div class="container p-t-sm p-b-lg">
          <h2>About the Digital ID Framework</h2>
          <p>
            The California Department of Technology (CDT) is responsible for the
            development, implementation, administration, and management of the
            California Digital ID Framework. The Framework is a collection of
            data, technology infrastructure, digital services, and gover­nance
            that allows for secure, user-friendly use of digital IDs across
            California. It ensures that everyone is held to the same high
            standards, better protecting your privacy, and helps you easily
            access more of California’s state programs and benefits by
            simplifying and streamlining eligibility verification across
            agencies.
          </p>

          <p>
            As per the authority of the State CIO and State CTIO, CDT is
            building both the technology supporting this framework as well as
            policy, guidance, and governance to empower other State departments
            to use it to enhance their own digital service offerings.
          </p>

          <p>
            The Framework is built around common statewide technology and
            digital strategies, and founded on four key principles:
          </p>
          <ul>
            <li>World-class security</li>
            <li>Privacy-by-Design</li>
            <li>Access and Equity</li>
            <li>Openness and Transparency</li>
          </ul>
          <p>
            <a
              href="primary-elements.html"
              class="btn btn-default brd-primary m-b-sm"
              style="color: #046b99"
              >Framework elements overview</a
            >
          </p>
        </div>

        <div class="bg-s1">
          <div class="container p-t-sm p-b-lg">
            <h2>Benefits</h2>
            <p>
              As California implements the Digital ID Framework, state agencies
              and users can expect to start seeing the following improvements:
            </p>
            <p>
              <strong
                >Easier access to all of California’s state benefits.</strong
              ><br />
              The Digital ID framework is designed to create universal access to
              state services for individuals in California using a single
              credential; your Digital ID. As a result, the Digital ID Framework
              will enable a system that minimizes the need to repeat
              verification processes for multiple programs.
            </p>

            <p>
              <strong
                >Cheaper, more efficient identity and eligibility management for
                state agencies.</strong
              ><br />
              The Digital ID Framework helps ensure that resources invested at
              the state level by agencies like CDT will benefit all state
              agencies, reducing the individual cost and administrative burdens
              associated with verification and accelerating statewide
              modernization.
            </p>

            <p>
              <strong
                >Increased security, privacy, and general minimization of
                sensitive data storage.</strong
              ><br />
              The Digital ID Framework will provide all state agencies access to
              standardized security and world class privacy protocols to protect
              sensitive information. By working across the spectrum of state
              agencies the Digital ID Framework facilitates a one-to-many model
              that increases access to more information sources while minimizing
              sensitive data storage.
            </p>
          </div>
        </div>

        <div class="container p-y-sm">
          <div>
            <h2>How it works</h2>
            <p class="p-b-lg">
              Under the Digital ID Framework, and with the rollout of digital
              credentials and IDs, individuals in California and beyond will
              more easily access the different state services and benefits they
              are eligible for. The Digital ID framework, illustrated below,
              establishes and standardizes the roles and responsibilities of the
              different actors involved in digital verification (such as state
              agencies, identity providers, and individuals across the state),
              and incorporates technology that is produced or managed by the
              CDT.
            </p>

            <img
              src="/images/digital-id-framework-v2.svg"
              class="p-b-lg"
              alt="The Digital ID framework diagram."
              style="width: 95%"
            />

            <p>
              As is shown in this diagram, the California Identity Gateway is a
              central intermediary for interactions between Californians (J.
              Doe), state entities (DMV, State Parks, etc.), and identity or
              eligibility providers (Login.gov, Calfresh, etc.). Under the
              Digital ID framework, applicants’ personal information can be
              securely shared with any number of state agencies, allowing
              applicants to receive eligibility-qualified benefits, services,
              and credentials more easily.
            </p>

            <p>
              The numbered steps in the diagram demonstrate the hypothetical
              order of interactions that take place when an individual applies
              for a state service or benefit:
            </p>

            <ol class="p-b-lg">
              <li>
                J. Doe goes directly to the website of the agency administering
                the program they wish to participate in.
              </li>
              <li>
                The identity gateway retrieves the necessary information from
                identity and eligibility providers.
              </li>
              <li>
                The Identity Gateway forwards this information in a minimized
                form to the requesting agency.
              </li>
              <li>Following confirmation of eligibility,</li>
              <ol type="a">
                <li>
                  The agency can then provide the requested benefit to J. Doe
                  with confidence that J.Doe meets the eligibility criteria.
                </li>
                <li>
                  If necessary, the agency can also issue a digital credential
                  to J.Doe’s mobile wallet, allowing J. Doe to present proof of
                  verified enrollment to access services and benefits in the
                  real world.
                </li>
              </ol>
            </ol>
          </div>

          <div class="m-b-lg">
            <!-- <h2>Your feedback matters</h2>
          <p>We welcome your input. Provide feedback.</p> -->
          </div>
        </div>
        <!-- Global Bottom Section -->
        {% include "bottom-section.njk" %}
      </main>
    </div>
    <!-- Global Footer -->
    {% include "footer.njk" %}
    <!-- Extra Decorative Content -->
    <div class="decoration-last">&nbsp;</div>
  </body>
</html>
